@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#ff7613;
    --text-color:#727171;
}
html{
    font-size: 10px;
}
body{
    font-family:Inter, sans-serif;
    background-color: black;
    color: white;
}

/*common styles*/
img{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--text-color);
}
.title{
    color:var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.group1,
.group2{
    display: flex;
    flex-direction: column;
    gap:5rem;
}



/*layout*/
.container{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: rgb(24, 22, 22);
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width:768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;

}
/*profile*/
.profile_container{
    display: flex;
    gap: 2rem;

}
.profile_profileImg{
    max-width: 250px;
}
.profile_firstname{
    color:white;
    font-weight: 200;
    font-size: clamp(2rem,8vw,4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;

}
.profile_lastname{
    color:var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}

/*Expertise*/

.skill_list{
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 2;

}

.progress-container {
      width: 100%;
      background-color: #e0e0e0;
      border-radius: 10px;
      overflow: hidden;
    }

    .progress-bar {
      height: 25px;
      line-height: 25px;
      color: #fff;
      text-align: center;
      background-color: #4caf50;
      transition: width 0.5s;
    }
/*reference*/
.ref_item{
    margin-top: 2rem;
}
.ref_name{
    font-size: 1.6rem;
    font-weight: 700;
}

/*edu*/

.edu_item{
    margin-top: 2rem;
    
}
.item_class{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 300;
}
.class_course{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.class_school{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 400;
}

/*sem*/

.sem{
    line-height: 2
}
/*Strength*/
.strength_list{
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 2;
}

/*exp*/

.exp_item{
    margin-top: 2rem;
}